@model WebApplication2.Models.PostViewModel
@using WebApplication2.Controllers
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = Model.Title;
    if (Model.PostTags != null)
    {
        ViewBag.Keywords = string.Join(" ", Model.PostTags.Select(t => t.Name).ToArray());
    }
    ViewBag.Description = Model.Meta;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="~/Scripts/view.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
}

<link href="~/Content/blog.css" rel="stylesheet" />
<div id="post" class="row">

<div  class=" col-lg-12">
<div id="postScroll">
    <div class="postContainer">
        
        <div class=" postHeader">
            @if (Model.ID != Model.FirstPostId)
            {
                @Html.ActionLink("<< Previous", "Post", "Blog", new { slug = Model.PreviousPostSlug, sortorder = ViewBag.CurrentSort }, new { style = "float:left;" })
            }
            @if (Model.ID != Model.LastPostId)
            {
                @Html.ActionLink("Next >>", "Post", "Blog", new { slug = Model.NextPostSlug, sortorder = ViewBag.CurrentSort }, new { style = "float:right;" })
            }

        </div>
        <div class="postTitle"><h2>@Model.Title</h2></div>
        <div class="addthis_sharing_toolbox"></div>
        
        @if (Model.Images != null)
        {
            foreach (var image in Model.Images)
            {
                <div class="postVideo">
                    <img class="postimage"  src="~/BlogImages/PostImages/@image.Imagename" />
                     
                </div>
            }
        }
        @{
            BlogController blgCtrl = new BlogController();
        }
        <div class="postBody">@Html.Raw(Model.Body)</div>
    </div>
    
</div>

</div>
</div>