
@{
    ViewBag.Title = "About";
}

<link href="~/Content/aboutstyle.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="holder">
            <div class="bullet"></div>
            <div class="line_one"></div>
            <div class="line_two"></div>
            <div class="pholder_one"></div>
        </div>

        <div class="wrap ">
            <h1>Stelios Marga Company</h1>
            <img src="http://www.wpthemegenerator.com/wp-content/uploads/2012/06/Image.jpg">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus consectetur dolor a porttitor. Curabitur id sem sed ante fringilla pulvinar et id lectus. Nullam justo ipsum, hendrerit ut commodo nec, pellentesque nec erat. Pellentesque pharetra.
            </p>
            <br />
            <a href="http://www.designshock.com/"> DesignShock.com </a>
        </div>


    </div>
    </div>