
@using System.Web.Mvc
@using WebApplication2.Models

@model IEnumerable<WebApplication2.Models.Images>


@{
    ViewBag.Title = "Home Page";
    
}


<style>
    .item {
        background: #333;
        text-align: center;
        height: 300px !important;
    }

    h2 {
        margin: 0;
        color: #888;
        padding-top: 100px;
        font-size: 50px;
    }
</style>
<div class="thumbnail">
 
    <div id="DemoCarousel" class="carousel slide" data-interval="2000" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#DemoCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#DemoCarousel" data-slide-to="1"></li>
            <li data-target="#DemoCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner center-slides-enabled">
            <div class="item active">
               
                <img src="~/Images/blue ruin.jpg" />
                @*<h2>Slide 1</h2>*@
                   
                    <div class="carousel-caption">
                    @*<h3>This is the First Label</h3>
                    <p>The Content of the First Slide goes in here</p>*@
            </div>
            </div>
            <div class="item">
              
                 @*<h2>Slide 2</h2>*@
                <div class="carousel-caption">
                    @*<h3>This is the Second Label</h3>
                    <p>The C*@ontent of the second Slide goes in here</p>
                </div>
            </div>
            <div class="item">
                @*<h2>Slide 3</h2>*@
                <div class="carousel-caption">
                    @*<h3>This is the Third Label</h3>
                    <p>The*@ Content of the Third Slide goes in here</p>
                </div>
            </div>
        </div>
        <!-- Carousel Controls -->
        <a class="carousel-control left" href="#DemoCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#DemoCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    
@*</div>
    <div id="imrow" class="row">
        <div align="center" class="col-md-4">
            <img class="img-circle" src="~/Images/images1.jpg" width="180" height="150" />
            <p class="h4">NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            </div>
        <div align="center" class="col-md-4">
            <img class="img-circle" src="~/Images/images1.jpg" width="180" height="150"/>
            <p class="h4">NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        </div>
        <div align="center" class="col-md-4">
            <img class="img-circle" src="~/Images/images1.jpg" width="180" height="150" />
            <p class="h4">NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        </div>
</div>*@
    <ul class="ch-grid">
        <li>
            <div class="ch-item ch-img-1">
                <div class="ch-info">
                    <h3>Paparies</h3>
                    <p>by Angela Duncan <a href="http://drbl.in/eOPF">View on Dribbble</a></p>
                </div>
            </div>
            <h3>Get more libraries</h3>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" title="Download more things" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>

        </li>
        <li>
            <div class="ch-item ch-img-2">
                <div class="ch-info">
                    <h3>pipes mple</h3>
                    <p>by Antonio F. Mondragon <a href="http://drbl.in/eKMi">View on Dribbble</a></p>
                </div>
            </div>
            <h3>Get more libraries</h3>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" title="Download more things" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </li>
        <li>
            <div class="ch-item ch-img-3">
                <div class="ch-info">
                    <h3>alla paei kala</h3>
                    <p>by Charlie Wagers <a href="http://drbl.in/ekhp">View on Dribbble</a></p>
                </div>
            </div>
            <h3>Get more libraries</h3>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" title="Download more things" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </li>
    </ul>
<div id="panrow" class="row">

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading" >
                
            </div>
            <div class="panel-body">
                <h3>Getting started</h3>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" title="General information" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                
            </div>
            <div class="panel-body">
                <h3>Get more libraries</h3>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" title="Download more things" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
   
    </div>
</div>
   
 <script>
        $(document).ready(function () {
            $(".btn btn-default").tooltipster();


            $("#DemoCarousel").carousel();

            //Carousel Controls
            $(".left").click(function () {
                $("#DemoCarousel").carousel('prev');
            });
            $(".right").click(function () {
                $("#DemoCarousel").carousel('next');
            });

            //Carousel Indicators
            $(".slide-1").click(function () {
                $("#DemoCarousel").carousel(0);
            });
            $(".slide-2").click(function () {
                $("#DemoCarousel").carousel(1);
            });
            $(".slide-3").click(function () {
                $("#DemoCarousel").carousel(2);
            });




        });

       
       
    </script>
