@{
    ViewBag.Title = "More";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>More</title>
</head>
<body>
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <div> 
       
        <p>Here we can put more inforamtions about our site</p>
    </div>
</body>
</html>
