body {
font-family:Calibri;
}
.blogContainer {
    overflow: hidden;
    margin-top:50px;
}

.mainblogview {
    width: 70%;
    min-height: 500px;
    float: left;
    position: relative;
}

    .mainblogview hr {
        width: 95%;
        margin: 0 auto;
    }
   
.mainblogbar {
    width: 29%;
    min-height: 500px;
    float: right;
}

    .mainblogbar .blogControlPanel {
        background-color: rgba(255, 255, 255, 0.50);
        border: solid #750000 0.5px;
        -moz-box-shadow: 0 1px 4px #999;
        -webkit-box-shadow: 0 1px 4px #999;
        box-shadow: 0 1px 4px #999;
        width: 99%;
        margin-bottom: 5px;
        overflow: hidden;
    }

        .mainblogbar .blogControlPanel .blogCtrlTable {
            width: 100%;
            margin-top: 5px;
        }

            .mainblogbar .blogControlPanel .blogCtrlTable td {
                padding: 1px 5px;

            }

            .mainblogbar .blogControlPanel .blogCtrlTable .blgCtrlPnl {
                text-decoration: none;
                color: black;
                font-size: 14px;
                font-size:20px;
            }
.blogCtrlTable {
display:none;
}

    .mainblogbar .adminBlogCtrl {
        background-color: rgba(255, 255, 255, 0.50);
        border: solid #750000 0.5px;
        -moz-box-shadow: 0 1px 4px #999;
        -webkit-box-shadow: 0 1px 4px #999;
        box-shadow: 0 1px 4px #999;
        width: 99%;
        margin-bottom: 5px;
        overflow: hidden;
    }

        .mainblogbar .adminBlogCtrl table {
            margin: 10px;
        }

            .mainblogbar .adminBlogCtrl table td a {
                text-decoration: none;
                color: blue;
            }
.postsSearch {
    width: 100%;
    margin: 50px 0 10px 0;
    overflow: hidden;
}

    .postsSearch .allPostsForm {
        float: right;
    }
.postsTable {
    background-color: rgba(255, 255, 255, 0.50);
    -moz-box-shadow: 0 1px 4px #999;
    -webkit-box-shadow: 0 1px 4px #999;
    box-shadow: 0 1px 4px #999;
    width: 100%;
    border-collapse: collapse;
}

    .postsTable a {
        text-decoration: none;
        color: black;
        font-weight:700;
    }
  
    .postsTable th {
        border: solid #750000 0.5px;
        text-align: center;
        padding: 5px;
    }

    .postsTable td {
        padding: 5px;
        border: solid #750000 0.5px;
    }

    .postsTable .tableTitle {
        width: 200px;
    }
.mainblogview .paging {
   margin-left:30px;
   margin-top:5px;
}

    .editPostContainer {
    background-color: rgba(255, 255, 255, 0.70);
    border-radius: 5px;
    width: 95%;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
}

    .editPostContainer .editPostId {
        width: 100%;
        overflow: hidden;
        float: left;
        display: inline-block;
        margin-bottom: 10px;
    }

        .editPostContainer .editPostId .editPostIdLbl {
            float: left;
            margin-right: 10px;
        }

        .editPostContainer .editPostId .editPostIdInp {
            width: 50px;
            display: block;
            border-radius: 5px;
            text-align: center;
        }

    .editPostContainer .editPostTitle {
        width: 100%;
    }

        .editPostContainer .editPostTitle .editPostTitleLbl {
            text-align: center;
            float: left;
        }

        .editPostContainer .editPostTitle .editPostTitleInp {
            width: 100%;
            display: block;
            height: 25px;
            border-radius: 5px;
            text-align: center;
        }

    .editPostContainer .editPostVideo {
        overflow: hidden;
        width: 100%;
    }

        .editPostContainer .editPostVideo .editPostVidCont {
            border: groove 2px;
            border-bottom: none;
            border-right: none;
            background-color: white;
            border-radius: 5px;
            height: 30px;
            text-align: center;
            float: left;
            margin-top: 5px;
            margin-right: 10px;
        }

        .editPostContainer .editPostVideo .editPostVideoInp {
            margin: 5px 10px 0 5px;
            border-radius: 5px;
            height: 25px;
        }

    .editPostContainer .editPostCategories {
        overflow: hidden;
        width: 100%;
   
        }

        .editPostContainer .editPostCategories .editPostCatInp {
           border: groove 2px;
            border-bottom: none;
            border-right: none;
            background-color: white;
            border-radius: 5px;
            height: 30px;
            text-align: center;
            float: left;
            margin-top: 5px;
            margin-right: 10px;
        }

            .editPostContainer .editPostCategories .editPostCatInp .catName {
                float: left;
                margin: 5px;
            }

    .editPostContainer .editPostTags {
        overflow: hidden;
        width: 100%;
    }

        .editPostContainer .editPostTags .editPostTagInp {
            border: groove 2px;
            border-bottom: none;
            border-right: none;
            background-color: white;
            border-radius: 5px;
            height: 30px;
            text-align: center;
            float: left;
            margin-top: 5px;
            margin-right: 10px;
        }

            .editPostContainer .editPostTags .editPostTagInp .tagName {
                float: left;
                margin: 5px;
            }

    .editPostContainer .editPostMeta, .editPostContainer .editPostSeo {
        width: 50%;
        border-radius: 5px;
        height: 25px;
        text-align: center;
        margin-bottom: 5px;
    }

    .editPostContainer .editPostDesc {
        overflow: hidden;
        width: 100%;
    }

    .editPostContainer .editPostBody {
        overflow: hidden;
        width: 100%;
    }

        .editPostContainer .editPostBody .comTextBtn {
            font-size: 24px;
            border: 1.5px groove;
            border-top: none;
            border-left: none;
            border-radius: 5px;
            float: right;
            background-color: rgba(255, 255, 255, 0.58);
        }

        .postDescContainer  {
            float: left;
        }



.addthis_sharing_toolbox{
        margin:10px auto;
        width: 360px;

    }






.postsFilter {
    float: left;
    max-width: 700px;
}

    .postsFilter table th {
        text-align: left;
        display: table-cell;
        vertical-align: text-top;
    }

    .postsFilter .postsFltInp {
        width: 100px;
        float: left;
    }

    .postsFilter .postFiltBtn {
        font-size: 18px;
        border: 1.5px groove;
        border-top: none;
        border-left: none;
        border-radius: 5px;
        float: right;
        background-color: rgba(255, 255, 255, 0.58);
        margin-top: 10px;
    }



       .postsTable  {
            float: left;
        }

       .postsTable .postDescCategory {
        display: inline-block;
        margin: 5px 0;
       
    }

        .postsTable .postDescCategory .postDescCatNames {
            float: left;

        }

        .postsTable .postDescCategory label {
            float: left;
            font-style: italic;
            font-weight: bold;
        }
        .postDescContainer .postVidCont {
        float: right;
        width: 200px;
    }

#sitelogo {
font-weight:800;
text-align:center;
}

.postContainer .postHeader {
           
           overflow: hidden;
    }
.postTitle {
    margin-top:40px;
}
 #post {
margin-top:5px;

}

 .editPostContainer .postVideo .postVidCont {
        float: left;
        margin: 5px;
    }

 .postContainer {
    margin-left:28%;
    margin-right:29%;
}

.postVideo {
text-align:center;
}
.postTitle{
text-align:center;
}

.postContainer .postVideo .postimage{
height:315px; 
width:560px;

}